@import "./global.scss";


#header {
  height: $HEADER_HEIGHT;
  background-color: #ece4d7;

  > div:nth-child(2) > button {
    border: black solid 1.5px;
  }

  > div:nth-child(1) > div > button {
    border-radius: 50%;
    font-size: 32px;
    aspect-ratio: 1/1;
    width: 50px;
    padding: 12px;
    height: 50px;
    border: black solid 2px;
  }
}

#rules {
  position: absolute;
  width: clamp(300px, 25vw, 400px);
  height: calc((100dvh - $HEADER_HEIGHT));
  bottom: 10px;
  left: 1.5vw;
  border-radius: 8px;
  border: solid black 2px;
  z-index: 20;
  background-color:#9FA1B3;
  padding: 20px;
  overflow-y: auto;

  & > div > button {
    border-radius: 8px;
    border: solid black 2px;
    position: absolute;
    right: 2.5vw;
  }

  > p{
    font-size: large;
  }

  > h2{
    font-size: x-large;
    text-decoration: underline;
    font-weight: 600;
  }

  ul {
    list-style: disc;
    margin-left: 15px;

    li {
      font-size: large;
    }
  }
}

@media (height <= 750px) {
  #header {
    padding-top: 0px;
    padding-bottom: 0px;

    & > div:nth-child(1) > div > button {
      font-size: 26px;
      width: 40px;
      height: 40px;
      padding: 5px;
    }
  }
}
