@import "./global.scss";

#header > div:nth-child(1) > button {
  border-radius: 50%;
  font-size: 32px;
  aspect-ratio: 1/1;
  width: 50px;
  padding: 12px;
  height: 50px;
  border: black solid 2px;
}

#header > div:nth-child(2) > button {
  border: black solid 1.5px;
}

#header {
  height: $HEADER_HEIGHT;
  background-color: #ece4d7;
}

#rules {
  position: absolute;
  width: 95vw;
  height: calc((100dvh - $HEADER_HEIGHT));
  bottom: 10px;
  left: 2vw;
  border-radius: 8px;
  border: solid black 2px;
  z-index: 9009;
  background-color:#9FA1B3;
  padding: 20px;
  overflow-y: auto;

  & > div > button {
    border-radius: 8px;
    border: solid black 2px;
    position: absolute;
    right: 2.5vw;
  }

  > p{
    font-size: large;
  }

  > h2{
    font-size: x-large;
    text-decoration: underline;
    font-weight: 600;
  }

  ul {
    list-style: disc;
    margin-left: 15px;

    li {
      font-size: large;
    }
  }
}
