@import "./global.scss";

#hero {
  height: calc(100dvh - $HEADER_HEIGHT);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #ece4d7;
  
  background-image: url("../../public/assets/nbp.png");
}

// lobby
#lobbypin {
  width: 120px;

  > :nth-child(3) {
    position: absolute;
    top: 48px;
    left: -3px;
    width: 125px;

    > input {
      border: solid black 1.5px;
    }
  }
}

#settings {
  width: 90vw;
  height: 95%;
  border-radius: 8px;
  border: solid black 2px;
  z-index: 9001;
}

// login
.login {
  position: fixed;
  z-index: 3;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 90%;
  padding: 70px 30px 44px;
  border-radius: 1.25rem;
  background: #ffffff;
  text-align: center;
}

@media (width >= 450px) {
  .login {
    width: 380px;
  }
}

@media (width >= 700px) {
  .login {
    top: 0;
    right: 0;
    left: auto;
    translate: 0 0;
    margin: 0;
    height: 100%;
    border-radius: 0;
    padding-top: 240px;
  }
}

@media (width >= 1200px) {
  .login {
    width: 25%;
  }
}