@import "./global.scss";

#hero {
  height: calc(100dvh - $HEADER_HEIGHT);
  width: 100%;
  overflow-y: auto;
  display: flex;
  align-items: center;

  background-color: #ece4d7;
  
  background-image: url("../../public/assets/4xbg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  &.login-bg {
    background-image: url("../../public/assets/nbp.png");
    background-repeat: repeat;
    background-size: auto;
    background-position: top;
  }
}

// lobby
#lobbypin {
  width: 120px;

  > :nth-child(3) {
    position: absolute;
    top: 48px;
    left: -3px;
    width: 125px;

    > input {
      border: solid black 1.5px;
    }
  }
}

#settings {
  width: 90vw;
  height: 95%;
  border-radius: 8px;
  border: solid black 2px;
  z-index: 9001;
}

// intricate shit for player pics in lobbyWaiting
#lobbyplayas {
  --size: 75px;
  display: grid;
  grid-template-columns: repeat(4, var(--size));
  grid-auto-rows: var(--size);
  margin-bottom: var(--size);
  place-items: start center;
  gap: 5px;

  img {
    object-fit: cover;
    aspect-ratio: 1/1;
    width: calc(var(--size) * 2);
    clip-path: path("M 67.5 7.5 C 75 0 75 0 82.5 7.5 C 142.5 67.5 142.5 67.5 142.5 67.5 C 150 75 150 75 142.5 82.5 C 142.5 82.5 82.5 142.5 82.5 142.5 C 75 150 75 150 67.5 142.5 C 67.5 142.5 7.5 82.5 7.5 82.5 C 0 75 0 75 7.5 67.5 Z");
    transition: clip-path 0.25s, filter 0.75s;
    grid-column: auto / span 2;
    border-radius: 5px;

    &:hover,
    &:focus {
      clip-path: path("M 0 0 C 0 0 150 0 150 0 C 150 0 150 75 150 75 C 150 75 150 150 150 150 C 150 150 75 150 75 150 C 75 150 75 150 0 150 C 0 150 0 75 0 75 C 0 75 0 75 0 75 Z");
      z-index: 10;
      transition: clip-path 0.25s, filter 0.25s;
    }

    // &:focus {
    //   outline: 1px dashed black;
    //   outline-offset: -5px;
    // }
  }
  :nth-child(3) {
    grid-column: 2 / span 2;
  }

  &:has(img:hover) img:not(:hover) {
    filter: brightness(0.75) contrast(0.75);
  }
  > img:hover {
    filter: brightness(1) saturate(1);
  }
}


// login
.login {
  position: fixed;
  z-index: 3;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 90%;
  padding: 70px 30px 44px;
  border-radius: 1.25rem;
  background: #ffffff;
  text-align: center;
}

@media (width >= 450px) {
  .login {
    width: 380px;
  }
}

@media (width >= 700px) {
  .login {
    top: 0;
    right: 0;
    left: auto;
    translate: 0 0;
    margin: 0;
    height: 100%;
    border-radius: 0;
    padding-top: 240px;
  }
}

@media (width >= 1200px) {
  .login {
    width: 25%;
  }
}